<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Universal Now Playing</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.UniversalNowPlaying.scripts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>%song</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>Scripts</key>
	<array>
		<dict>
			<key>File</key>
			<string>song</string>
			<key>Keyword</key>
			<string>%song</string>
			<key>PrefixOnly</key>
			<false/>
			<key>Title</key>
			<string>Universal Now Playing</string>
		</dict>
	</array>
	<key>Set</key>
	<string>UniversalNowPlaying</string>
</dict>
</plist>
